.cards{
    display: flex;
    justify-content: space-around;
}

.c {
    width: 250px;
    height: 150px;
    border: rgb(90, 163, 223) solid 2px ;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    background-color: rgb(47, 106, 154);
    overflow: hidden;              
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;        /* Padding incluso na largura/altura */
  }
  
  .c .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;                   
    height: 100%;                 
    padding: 16px;       
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
    overflow-wrap: break-word;     /* Quebra palavras muito grandes */
    overflow: hidden;    
    box-sizing: border-box;          
  }
  

  .c:hover .title {
    opacity: 0;
  }
  
  
  .c:hover .content {
    opacity: 1;
    z-index: 2;
  }
  

  .title{
    text-align: center;
    font-size:x-large;
    font-weight: bold;
    transition: opacity 0.3s ease; 
    
  }


  img{
    padding: top;
    display: flex;
    width: 50%;
    margin: auto;
  }
  body{
    color: white;
    background-image: url(fundo.jpg)  ;
  }